.bc-sm-ctrl-btn-dlt {
    position: absolute;
    top: 5px;
    right: 5px;
    display: grid;
    place-items: center;
}

.bc-sm-ctrl-btn-upt {
    position: absolute;
    top: 5px;
    right: 35px;
    display: grid;
    place-items: center;
}